<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="AnyStatus - Azure DevOps Plugins" Language="1033" Version="1.0.0.0" Manufacturer="AnyStatus" UpgradeCode="b3073608-c377-491c-bcb7-e04c5871db96">
    
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" InstallPrivileges="limited" />
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <!-- UI -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UI>
      <UIRef Id="WixUI_Minimal" />
    </UI>

    <!-- Icon -->
    <Icon Id='ProductIcon' SourceFile='Icon.ico' />
    <Property Id='ARPPRODUCTICON' Value='ProductIcon' />

    <!-- License -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <!-- Features -->
    <Feature Id="ProductFeature" Title="Azure DevOps extension pack for AnyStatus Desktop" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="AppDataFolder">
        <Directory Id="INSTALLFOLDER" Name="AnyStatus" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="AnyStatus.Plugins.AzureDevOps" Guid="CB0DBD98-A865-497E-8D49-9C66D668322D">
        <RegistryValue Root='HKCU' Key='Software\Manufacturer\Product' Name='InstallFolder' Value='[INSTALLFOLDER]' Type='string' KeyPath='yes' />
        <File Id="AnyStatus.Plugins.AzureDevOps.dll" Source="$(var.AnyStatus.Plugins.AzureDevOps.TargetDir)AnyStatus.Plugins.AzureDevOps.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
